<article>
  <h2 class="h1">Getting Connected</h2>
  <div>

    <h2>Download our recommended UO client.</h2>
    <p>
      If you already have a UO client version 5.0 or greater you may use it to connect, we recommend client version 5.0.8.3.
      This is the T2A version of the client, it includes Razor and UO Auto Map.<br /><br />
      <a href="http://download.uosecondage.com/UOSA_Client_Setup.exe">Http download</a><br />
      Other download locations <%= link_to 'available on our website.', downloads_path %>
    </p>

    <h2>If your operating system is Windows XP or earlier</h2>
    <p>
      <a target="_blank" href="http://www.microsoft.com/downloads/info.aspx?na=90&p=&SrcDisplayLang=en&SrcCategoryId=&SrcFamilyId=0856eacb-4362-4b0d-8edd-aab15c5e04f5&u=http%3a%2f%2fdownload.microsoft.com%2fdownload%2f5%2f6%2f7%2f567758a3-759e-473e-bf8f-52154438565a%2fdotnetfx.exe">
        Download .Net framework 2.0 here.
      </a><br/>
      You *MUST* have this package installed to use Razor with Windows XP.
    </p>

    <h2>Linux</h2>
    <p>
      <a href="http://wiki.uosecondage.com/Linux">See wiki</a>
    </p>

    <h2>Run Razor</h2>
    <p>
      If running under Vista or Windows 7, run this program as administrator by right clicking the shortcut, and choosing "Run as Administrator" or go to Properties -> Compatibility and check "Run this program as an administrator.", also choose "Disable Desktop Composition" if you use Razors counters feature, so these will display in the window title bar.
      <br /><br />
      Server : uosecondage.com Port : 2593
    </p>

    <%= image_tag("screenshot-razor.jpg") %>
    <%= image_tag("screenshot-login.jpg") %>

    <h5>Press connect, enter any new unique username and password to create a new account.</h5>
    <p>
      You may have a maximum of three accounts on Second Age.

      Once you have successfully created a new account (this may take a couple tries if you try to use a username that's already in use), you will see the shard selection screen.
      <ul>
        <li>
          "Second Age" is the primary shard.
        </li>
        <li>
          "UO Tutorial" is a online single player introduction to UO. The tutorial is highly recommended if you are new to the game.
        </li>
        <li>
          "Second Age Test" is a test center, not always available.
        </li>
      </ul>

      The account you chose in the step above will be your account on all three of these shards.

    </p>

    <%= image_tag("screenshot-chooseshard.jpg") %>
    <%= image_tag("screenshot-welcome.jpg") %>

    <h2>Welcome to Second Age!</h2>
    <p>
      If you selected the tutorial, your character will be automatically created. Otherwise follow the steps indicated to create a new character. As this is an emulation of the T2A era of Ultima Online, not all template choices are available. See the beginner's guide in our Wiki http://wiki.uosecondage.com/Beginners_Guide for recommendations on creating a new character, and on getting started in the world of Britannia.
    </p>
    <p>
      Please turn off the setting "Use Smart CPU Reduction" in Razor, as this setting is not compatible with modern operating systems. Also consider selecting "Use Pre-AOS Status Window".
    </p>
    <p>
      When prompted for an email address in game, please enter one. This is how your accounts are registered, we will not send you spam or share your email with other parties. Although this is not required to play, the only way to determine ownership of an account is through this email registration and non-registered accounts will receive limited account support. Please register all your game accounts to the same email address.
    </p>
    <p>
      If running under Vista or Windows 7, and the client crashes shortly after start-up, you may need to disable the in-game music. Once logged in press <ALT>O and uncheck the "Music On/Off" box. (This issue has been fixed in the latest client package released)
      </p>

    </div>
  </article>
