<article>
  <div class="community-cards">
    <div class="headline-container">
      <%= link_to connecting_path do %>
      <h2 class="headline" >Connecting</h2>
      <% end %>
    </div>
    Connect to UO Second age! Download the client, run Razor and start your journey!
    <%= link_to 'Full story', connecting_path, class:"small" %>
  </div>

  <div class="community-cards">
    <div class="headline-container">
      <%= link_to beginning_path do %>
      <h2 class="headline condensed">Beginning Britannia</h2>
      <% end %>
    </div>
    The world of Britannia is vast and filled with excitement and danger, but before you begin your adventure, we recommend you explore these quick tips on getting started!
    <%= link_to 'Full story', bnn_path, class:"small" %>
  </div>

  <div class="community-cards">
    <div class="headline-container">
      <%= link_to events_path do %>
      <h2 class="headline condensed">Britannian Professions</h2>
      <% end %>
    </div>
    From Archers to Bards to Carpenters, we've gathered a few tips on choosing the right skills to complement your newfound profession in Britannia.
    <%= link_to 'Full story', events_path, class:"small" %>
  </div>

  <div class="community-cards">
    <div class="headline-container">
      <%= link_to rules_path do %>
      <h2 class="headline condensed">Britannian Etiquette</h2>
      <% end %>
    </div>
    Over 23,000 player run organizations, or guilds, permeate the landscape of UO. Each guild, ranging in size from just a few members to over 200 in the largest, conducts meetings and plans adventures. Our page reflect rankings and warfare status' and are growing in features all the time.
    <%= link_to 'Full story', rules_path, class:"small" %>
  </div>

  <div class="community-cards">
    <div class="headline-container">
      <%= link_to events_path do %>
      <h2 class="headline condensed">Meet the Community</h2>
      <% end %>
    </div>
    Whether as guilds or professional groups, structured or loose-knit, the players of Ultima Online often join together to promote common goals. Here you'll find links to a few of organizations that can offer you tips on starting out in UO.
    <%= link_to 'Full story', events_path, class:"small" %>
  </div>

  <div class="community-cards">
    <div class="headline-container">
      <%= link_to events_path do %>
      <h2 class="headline">Meet the Staff</h2>
      <% end %>
    </div>
    Designed to support both the newest visitor and the veteran player, the assistance programs of Ultima Online promote players helping players. You'll find details on all of our Customer Support programs and how they can help you.
    <%= link_to 'Full story', events_path, class:"small" %>
  </div>


  </article>
