<div class="feed">
  <%= render 'home/live_events' %>
  <%= render 'home/spotlight' %>
  <%= render 'home/alert' %>
  <%= render 'home/whats_new' %>
  <%= render 'home/update_center' %>
  <%= render 'home/town_cryer' %>
  <%= render 'home/directory' %>
</div>
<%= render 'home/snippet_bar' %>
