<article>
  <div class="community-cards">
    <div class="headline-container">
      <%= link_to bnn_path do %>
      <h2 class="headline" style="font-size:70%">Britannia News Network</h2>
      <% end %>
    </div>
    The Britannia News Network is the official news site for Ultima Online. All articles are written by our Interest staff based on actual events and situations in the game. From time to time fictional stories may be provided by the developers, expanding upon the lore of Britannia.
    <%= link_to 'Full story', bnn_path, class:"small" %>
  </div>

  <div class="community-cards">
    <div class="headline-container">
      <%= link_to events_path do %>
      <h2 class="headline">Calendar</h2>
      <% end %>
    </div>
    Player run events make up the life and atmosphere found in Ultima Online. Our calendar breaks down the events by shard and provide details on who, what, where, when and why of each event as submitted by the actual players.
    <%= link_to 'Full story', events_path, class:"small" %>
  </div>

  <div class="community-cards">
    <div class="headline-container">
      <%= link_to 'http://my.uosecondage.com/Status/Guilds' do %>
      <h2 class="headline">Guilds</h2>
      <% end %>
    </div>
    Over 23,000 player run organizations, or guilds, permeate the landscape of UO. Each guild, ranging in size from just a few members to over 200 in the largest, conducts meetings and plans adventures. Our page reflect rankings and warfare status' and are growing in features all the time.
    <%= link_to 'Full story', 'http://my.uosecondage.com/Status/Guilds', class:"small" %>
  </div>

  <div class="community-cards">
    <div class="headline-container">
      <%= link_to events_path do %>
      <h2 class="headline">Newsletter</h2>
      <% end %>
    </div>
    We send out a monthly newsletter covering the most recent changes in the game and on the Web site. If you would like to join, all you need to do is provide us with your Email address.
    <%= link_to 'Full story', events_path, class:"small" %>
  </div>

  <div class="community-cards">
    <div class="headline-container">
      <%= link_to events_path do %>
      <h2 class="headline">Links</h2>
      <% end %>
    </div>
    There are hundreds of fan created and maintained Ultima Online fan sites throughout the world, we are constantly evaluating them and will continue to present new and unique sites here.
    <%= link_to 'Full story', events_path, class:"small" %>
  </div>


  </article>
