<article>
<%= render '/events/events-nav' %>
<h2 class="h1">Shard Icon Legend</h2>
  <br><br>

  These icons were created to present a visual representation of each of the worlds in Ultima Online. In many cases the names, if not the shards themselves, bore special disctinction or personality. Look for these icons in other places throughout the Web site in coming months and possibly even available on T-Shirts, pins and other items to be sold at EA.Store.
  <br>

  <table border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
  <td align="center" width="145"><font face="MatrixBold" size="3">
    <%= image_tag("shard_badges/sicon_0.jpg") %>
  <b>Atlantic</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_1.jpg") %>
  <b>Pacific</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_2.jpg") %>
  <b>Great Lakes</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_3.jpg") %>
  <b>Lake Superior</b>
  </font></td>
  </tr><tr>
  <td colspan="4" align="center"><img src="/web/20000125165134im_/http://town.uo.com/images/split4.gif" width="545" height="1" vspace="3"></td>
  </tr><tr>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_4.jpg") %>
  <b>Baja</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_5.jpg") %>
  <b>Chesapeake</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_6.jpg") %>
  <b>Napa Valley</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_7.jpg") %>
  <b>Catskills</b>
  </font></td>
  </tr><tr>
  <td colspan="4" align="center"><img src="/web/20000125165134im_/http://town.uo.com/images/split4.gif" width="545" height="1" vspace="3"></td>
  </tr><tr>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_8.jpg") %>
  <b>Sonoma</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_9.jpg") %>
  <b>Europa</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_10.jpg") %>
  <b>Drachenfels</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_11.jpg") %>
  <b>Hokuto</b>
  </font></td>
  </tr><tr>
  <td colspan="4" align="center"><img src="/web/20000125165134im_/http://town.uo.com/images/split4.gif" width="545" height="1" vspace="3"></td>
  </tr><tr>
  <td align="center" width="145"><font face="MatrixBold" size="3">
<%= image_tag("shard_badges/sicon_12.jpg") %>
  <b>Yamato</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_13.jpg") %>
  <b>Asuka</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_14.jpg") %>
  <b>Wakoku</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_15.jpg") %>
  <b>Siege Perilous</b>
  </font></td>
  </tr><tr>
  <td colspan="4" align="center"><img src="/web/20000125165134im_/http://town.uo.com/images/split4.gif" width="545" height="1" vspace="3"></td>
  </tr><tr>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_16.jpg") %>
  <b>Test Center</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  <%= image_tag("shard_badges/sicon_17.jpg") %>
  <b>All Shards</b>
  </font></td>
  <td align="center" width="145"><font face="MatrixBold" size="3">
  </font></td>
  </tr></tbody></table>


  </article>
