<section id="sidebar">
  <button class="mobile_button" onclick="mobileMenu();"></button>
  <ul>
    <li>
      <%= link_to 'Community', community_path %>
      <ul class="sub_menu <% if controller.controller_name.include? 'community' or controller.controller_name.include? 'events'  %> open <%end%>">
        <li>
          <%= link_to 'Newspaper', bnn_path %>
        </li>
        <li>
          <%= link_to 'Calendar', events_path %>
        </li>
        <li>
          <a href="#">Guilds</a>
        </li>
        <li>
          <a href="#">Newsletter</a>
        </li>
        <li>
          <a href="#">Links</a>
        </li>
        </ul>
    </li>
    <li>
      <a href="#">Playguide</a>
    </li>
    <li>
      <a href="#">Support</a>
    </li>
    <li>
      <a href="#">Update CTR</a>
    </li>
    <li>
    <%= link_to 'ACCT MGMT', acct_mgmt_path %>
    </li>
    <li>
      <%= link_to 'New Player', new_player_center_path %>
      <ul class="sub_menu <% if controller.controller_name.include? 'new' %> open <%end%>">
        <li>
          <%= link_to 'Connecting', connecting_path %>
        </li>
        <li>
          <%= link_to 'Beginning', beginning_path %>
        </li>
        <li>
          <a href="#">Professions</a>
        </li>
        <li>
          <%= link_to 'Etiquette', rules_path %>
        </li>
        <li>
          <a href="#">The Community</a>
        </li>
        <li>
          <a href="#">The Staff</a>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to 'Home', root_path %><script>console.log('<%= controller.controller_name  %>');</script>
      <ul class="sub_menu <% if controller.controller_name.include? 'home' or  controller.controller_name.include? 'acct_mgmt' or  controller.controller_name.include? 'content' %> open <%end%>">
        <li>
          <a href="#">What's New</a>
        </li>
        <li>
          <a href="#">Features</a>
        </li>
        <li>
          <%= link_to 'Screenshots', screenshots_path %>
        </li>
        <li>
          <%= link_to 'Requirements', requirements_path %>
        </li>
        <li>
          <%= link_to 'Downloads', downloads_path %>
        </li>
        <li>
          <a href="#">Awards</a>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to 'Contact Us', contact_path %>
    </li>
  </ul>
</section>
<script>
  function mobileMenu(){
    var element = document.getElementById("sidebar");
    element.classList.toggle("mobileMenu");
  };
</script>
